<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Code-Mantic</title>            
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

<body>
<header>

{{!-- NAVBAR --}}
{{> navbar}}
</header>

<div class="main-container">
<h1>Filter Other Users</h1>
        

{{! DROP DOWN FILTERS }}    
<div class="mb-3">


{{! PROGRAMMING LANGUAGES }}
<div class="mb-3">
<label for="programmingLanguagesDrop" class="form-label">Programming Languages:</label>
  <select id="programmingLanguagesDrop" class="form-select">
   <option value="Javascript">JavaScript</option>
   <option value="Python">Python</option>
   <option value="Java">Java</option>
   <option value="HTML">HTML</option>
   <option value="CSS">CSS</option>
   <option value="SQL">SQL</option>
   <option value="Ruby">Ruby</option>
   <option value="PHP">PHP</option>
</select>
</div>


{{! PERSONALITY TYPES }}
   <div class="mb-3">
<label for="personalityTypesDrop" class="form-label">Personality Types:</label>
<select id="personalityTypesDrop" class="form-select">
   <option value="introvert">Introvert</option>
   <option value="extrovert">Extrovert</option>
   </select>
   </div>


  {{! OPERATING SYSTEMS }}
   <div class="mb-3">
  <label for="operatingSystemsDrop" class="form-label">Operating Systems:</label>
<select id="operatingSystemsDrop" class="form-select">
   <option value="windows">Windows</option>
   <option value="mac">Mac</option>
   <option value="linux">Linux</option>
</select>
  </div>


{{! PARTNER PRONOUNS }}
<div class="mb-3">
<label for="partnerPronounsDrop" class="form-label">Partner Pronouns:</label>
<select id="partnerPronounsDrop" class="form-select">
   <option value="he">He</option>
   <option value="she">She</option>
   <option value="they">They</option>
</select>
</div>
<br>

{{! APPLY FILTER BUTTON }}
<button id="applyFilterButton" class="btn btn-primary">Apply Filter</button>





<div class="display-other-users-container">
    <h2 class="mt-4 mb-3">Other Users</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/istockphoto-1337144146-612x612.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Username:{{user.display_name}}</h5>
                    <p class="card-text text-start">Age: {{user.age}}</p>
                    <p class="card-text text-start">Hobbies:{{user.hobbies}}</p>
                </div>
            </div>
        </div>

        {{#each otherUsers}}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}} ({{this.username}})</h5>
                    <p class="card-text">Age: {{this.age}}</p>
                    <p class="card-text">Hobbies: {{this.hobbies}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>








{{> footer}}

<script src="/models/User.js"></script>

</body>

</html>
