<!-- views/userProfile.handlebars -->

{{! views/userProfile.handlebars }}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>     {{! BOOTSTRAP LINK}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/styles.css">    {{! LINKED STYLES SHEET IN PUBLIC FOLDER }}
</head>


        {{! USERS PROFILE }}
  <header class="bg-primary text-white p-3">

    <h1>User Profile</h1>

  </header>

        {{! USERS USERNAME FOR PROFILE }}
         <main class="container my-5">

        <section>

        <h2>{{user.display_name}}'s Profile</h2>


        {{! PROFILE CARD }}
        <div class="card">

          {{! CARD BODY FOR USER INFORMATION }}
        <div class="card-body">

          {{! HEADER }}
          <h3 class="card-title">User's Profile:</h3>

          {{! UNORDERED LIST FOR USER INFORMATION }}
          <ul class="list-group list-group-flush">

            {{! USERS EMAIL }}
            <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>

            {{! USERS LANGUAGES  }}
            <li class="list-group-item"><strong>Languages:</strong> {{user.languages}}</li>

            {{! USERS PERSONALITY TYPE }}
            <li class="list-group-item"><strong>Personality Type:</strong> {{user.personality_type}}</li>

            {{! USERS OPERATING SYSTEM }}
            <li class="list-group-item"><strong>Operating System:</strong> {{user.operating_system}}</li>

            {{! USERS PRONOUNS }}
            <li class="list-group-item"><strong>Preferred Pronouns:</strong> {{user.partner_pronouns}}</li>
          </ul>
        </div>
      </div>

    </section>




    {{! SECTION BIO AND HOBBIES }}
    <section>

      {{! USER BIO }}
      <div class="card mt-3">
        <div class="card-body">
          <h3 class="card-title">Bio</h3>
          <p class="card-text">{{user.bio}}</p>
        </div>
      </div>

      {{! USER HOBBIES }}
      <div class="card mt-3">
        <div class="card-body">
          <h3 class="card-title">Hobbies</h3>
          <p class="card-text">{{user.hobbies}}</p>
        </div>
      </div>

    </section>

    {{! EDIT PROFILE LINK }}
    <div class="mt-3">
      <a href="/editProfile" class="btn btn-primary">Edit Profile</a>
    </div>

  </main>



{{! FOOTER .. LOCATED IN PARTIAL FOLDER }}

{{> footer}}

</body>

</html>