<!-- views/userProfile.handlebars -->
<body class="d-flex h-100 text-center text-bg-dark" data-new-gr-c-s-check-loaded="14.1125.0" data-gr-ext-installed="">
  <header>

          {{!-- NAVBAR --}}
          {{> navbar}}

  </header>
 <div class="">
      <div class="row g-0" style="margin-top:60px;">
        <!-- <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div> -->
        <div class="card col">
          <img src="/assets/images/istockphoto-1337144146-612x612.jpg" class="card-img" alt="profile">
            <div class="card-body">
              <h5 class="card-title">{{user.display_name}}</h5>
            </div>
    </div>
        <div class="col-md-8">
          <div class="card-body card text-bg-secondary">
            <p class="card-text text-start"><b>Personal Pronouns: </b>{{user.pronouns}}</p>
            <p class="card-text text-start"><b>Partner Pronouns: </b>{{user.form.partner_pronouns}}</p>
        
              <p class="card-text text-start"><b>Age: </b>{{user.age}}</p>
              <p class="card-text text-start"><b>Operating System: </b>{{user.form.operating_system}}</p>
              
              <p class="card-text text-start"><b>Programing Languages: </b>{{user.form.languages}}</p>
            
              <ul class="Languages">
                {{#each languages}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
              <p class="card-text text-start"><b>Personality type: </b>{{user.form.personality_type}}</p>
              <p class="card-text text-start"><b>Hobbies: </b>{{user.form.hobbies}}</p>
              <ul class="hobbies">
                {{#each hobbies}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
              <p class="card-text text-start"><b>Bio: </b>{{user.form.bio}}</p>
              <dataset >
                <p class="card-text text-start"><b>Contact: </b>{{user.form.contact_method}}</p>
                
                    <h2>Reviews</h2>
                     <p class="card-text text-start"> {{user.review.Review_text}}</p>

                     {{#each user.reviews}}
                    {{> reviewPart this}}
                    {{/each}}


              </div>
        </div>
      </div>
    </div>
    <br>
    <div class="gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" id="partner-search"><a class="btn btn-primary loginBtn" href="/search">Partner Search</a></button>
    </div>

  {{> footer}}

   <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="/js/partnerSearch.js"></script>
  

</body>
    
</html>
